{{ header }}
{%- from 'macros.jinja2' import validate %}
package {{package}}

import (
	"context"
	"encoding/json"
	"log"
    "errors"
	"net/http"
	"net/url"
    "io/ioutil"
    api "{{ api_package }}"
    {%-  if has_security %}
        {%- if credential_type.import_path %}
            {{ credential_type.package }} "{{ credential_type.import_path }}"
        {%- endif %}
    {%- endif %}
	"github.com/julienschmidt/httprouter"
)

{%  if has_security %}
var ErrUnauthorized = errors.New("unauthorized request")

type Security interface {
    {% for  name, definition in swagger.securityDefinitions.items() %}
        AuthBy{{ name | label }}(value string) ({{ credential_type.fqdn }}, error)
    {% endfor %}
}

func Credentials(ctx context.Context) {{ credential_type.fqdn }} {
    return ctx.Value(ctxKeyCredentials).({{ credential_type.fqdn }})
}

const ctxKeyCredentials = "credentials"
{% endif %}


func Install(mux interface {
	Handle(pattern string, handler http.Handler)
}, impl api.API{% if has_security %}, auth Security{% endif %}) {
	mux.Handle(api.Prefix + "/", http.StripPrefix(api.Prefix, New(impl{% if has_security %}, auth{% endif %})))
}

func New(impl api.API{% if has_security %}, auth Security{% endif %}) http.Handler {
     router := httprouter.New()
     srv := &server{impl: impl{% if has_security %}, auth: auth{% endif %}}
     {%- for path, methods in swagger.paths.items() %}
        {%- for method, endpoint in methods.items() %}
        router.{{method | upper}}("{{path | path}}", srv.{{endpoint.operationId | label}})
        {%- endfor %}
    {%- endfor %}

    return router
}

type server struct {
    impl api.API
    {% if has_security %}auth Security{% endif %}
}

{%- for method in methods %}
        {%- set METHOD = method%}
func (srv *server) {{method.name | label}}(w http.ResponseWriter, r *http.Request, ps httprouter.Params) {
        defer r.Body.Close()

        {% if method.secured %}
            var (
                credentials {{ credential_type.fqdn }}
                authorized bool
            )
            {% for security in method.security %}
                {%- if not loop.first %} else {% endif -%}
                {%- set sec_name = security.keys() | first -%}
                {%- set def = (sec_name | sec_def) -%}

                if cred, err := srv.auth.AuthBy{{ sec_name | label }}(
                {%- if  def["in"] == 'header' -%}
                    r.Header.Get("{{ def.name }}")
                {%- endif -%}
                ); err == nil {
                    credentials = cred
                    authorized = true
                }
            {% endfor %}

            if !authorized {
                log.Println("{{method.name}}: authorization failed")
                jsonError(w, ErrUnauthorized.Error(), http.StatusUnauthorized)
                return
            }
        {% endif %}

        {% for param in method.parameters -%}
        var param{{param.name | label}} {{param.type | map_type(true)}} // in {{param.location}}
        {% endfor -%}

        {%- if method.has_query_params %}
        var urlParams = r.URL.Query()
        {%- endif %}

        {% for param in method.parameters -%}
            {%- if param.location == 'path' %}
                if v, err := url.PathUnescape(ps.ByName("{{param.name}}")); err != nil{
                     log.Println("{{method.name}}: decode {{param.name}} from path:", err)
                     jsonError(w, err.Error(), http.StatusBadRequest)
                     return
                }  else {
                    {%- if (param.type | map_type) == 'string'%}
                    param{{param.name | label}} = v
                    {%- else %}
                    if value, err := {{ param.type | from_string('v') }}; err == nil {
                        param{{param.name | label}} = {{ (param.type | map_type) }}(value)
                    } else {
                        log.Println("{{method.name}}: decode {{param.name}} from path:", err)
                        jsonError(w, err.Error(), http.StatusBadRequest)
                        return
                    }
                    {%- endif  %}
                }
            {%- elif param.location == 'body' %}
                switch contentType := r.Header.Get("Content-Type"); contentType {
                {% if method.consumes_text %}
                case "text/plain", "":
                    if content, err := ioutil.ReadAll(r.Body); err != nil {
                        log.Println("{{method.name}}: read {{param.name}} from body:", err)
                        jsonError(w, err.Error(), http.StatusBadRequest)
                        return
                    } else {
                        param{{param.name | label}} = string(content)
                    }
                {% endif %}
                {% if method.consumes_json %}
                case "application/json":
                    fallthrough
                default:
                    if err := json.NewDecoder(r.Body).Decode(&param{{param.name | label}}); err != nil {
                        log.Println("{{method.name}}: decode {{param.name}} from body:", err)
                        jsonError(w, err.Error(), http.StatusBadRequest)
                        return
                    }
                {% endif %}
                }
            {%- elif param.location == 'header' %}
                param{{param.name | label}} = r.Header.Get("{{ param.name }}")
            {%- elif param.location == 'query' %}
                {%- if (param.type | map_type) == 'string'%}
                param{{param.name | label}} = urlParams.Get("{{ param.name }}")
                {%- else %}
                if value, err := {{ param.type | from_string('queryParam(urlParams, ' + (param.name | tojson) + ',' + (param.default | string | tojson) + ' )') }}; err == nil {
                    param{{param.name | label}} = {{ (param.type | map_type) }}(value)
                } else {
                    log.Println("{{method.name}}: decode {{param.name}} from query:", err)
                    jsonError(w, err.Error(), http.StatusBadRequest)
                    return
                }
                {%- endif  %}
            {% endif %}
        {% endfor -%}


        if err := validate{{method.name | label}}(
        {%- for param in method.parameters -%}
        {% if not loop.first %}, {% endif %}param{{param.name | label}}
        {%- endfor -%}); err != nil {
            log.Println("{{method.name}}: validate:", err)
            jsonError(w, err.Error(), http.StatusUnprocessableEntity)
            return
        }

        ctx := withRequest(r.Context(), r)
        {%- if method.secured %}
        ctx = context.WithValue(ctx, ctxKeyCredentials, credentials)
        {% endif %}

        {%- if method.has_response %} res, err
        {%- else %} err
        {%- endif %} := srv.impl.{{method.name | label}}(ctx
        {%- for param in method.parameters -%}
        , param{{param.name | label}}
        {%- endfor -%})

        {%- if method.response_is_array %}
        if res == nil {
            res = make({{method.response_type | map_type(true)}}, 0)
        }
        {%- endif %}

        if err != nil {
            log.Println("{{method.name}}: execute:", err)
            autoError(w, err)
            return
        }

        {%- if method.has_response %}
        w.Header().Set("Content-Type", "application/json")
        encoder := json.NewEncoder(w)
        encoder.SetIndent("", "  ")
        w.WriteHeader(http.StatusOK)
        _ = encoder.Encode(res)
        {%- else %}
        w.WriteHeader(http.StatusNoContent)
        {%- endif %}
    }

    func validate{{method.name | label}}({%- for param in method.parameters %}{% if not loop.first %}, {% endif %}param{{ param.name | label }} {{param.type | map_type(true)}}{% endfor %}) error {
         {%- for param in method.parameters %}
             {%- if param.is_ref  %}
             if err := param{{ param.name | label }}.Validate(); err != nil {
                 return fmt.Errorf("{{ param.name }}: %w", err)
             }
             {%- else %}
            {{ validate((param.type | resolve), "param" + (param.name | label), "api.") }}
             {%- endif %}
         {%- endfor %}
         return nil
    }
{% endfor %}

var (
{%- for pattern, name in patterns_cache.items() %}
    {{ name }} = regexp.MustCompile({{ pattern | tojson }})
{%- endfor %}
)

func autoError(w http.ResponseWriter, err error) {
	if apiError, ok := api.AsAPIError(err); ok {
		jsonError(w, apiError.Message, apiError.Status)
        return
	}
	jsonError(w, err.Error(), http.StatusInternalServerError)
}

func jsonError(w http.ResponseWriter, err string, code int) {
    type errMessage struct {
        Message string `json:"error"`
    }

	w.Header().Set("Content-Type", "application/json")
	encoder := json.NewEncoder(w)
	encoder.SetIndent("", "  ")
	w.WriteHeader(code)
	_ = encoder.Encode(&errMessage{Message: err})
}

func queryParam(r url.Values, name string, defaultValue string) string {
	if r.Has(name) {
		return r.Get(name)
	}
	return defaultValue
}

type requestCtx struct{}

func withRequest(ctx context.Context, req *http.Request) context.Context {
	return context.WithValue(ctx, requestCtx{}, req)
}

func RequestFromContext(ctx context.Context) *http.Request {
	return ctx.Value(requestCtx{}).(*http.Request)
}